<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicinereminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineReminder">
        <activity
            android:name=".patient_screen.view.PatientActivity"
            android:exported="true" />

        <activity android:name=".tracker_screen.view.TrackerActivity"
            android:exported="true"/>


        <activity
            android:name=".addtaker.AddTakerActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".DisplayMedicine.DisplayMedActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".AddEditMedicine.view.AddEditMedActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeScreen.view.Home_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".splash.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>